<h2>Веб проекты</h2>
<div class="gallery">
  <div class="item">
    <img src="https://picsum.photos/200/200/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/200/260/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/320/200/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/220/240/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/300/400/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/200/200/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/200/260/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/320/200/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/220/240/?random">
  </div>
  <div class="item">
    <img src="https://picsum.photos/300/400/?random">
  </div>
</div>
<p>Photo by rawpixel.com from Pexels</p>
